.game__gameoveroverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #303131;
    &.active {
        display: flex;
    }
}

.theme--games{
    .game__gameoveroverlay{
        background-color: #284f60;
        &--content{
            height: 380px;
            width: 970px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Orbitron', sans-serif;

            >h5{
                font-size: 7rem;
                color: #ED1B76;
                margin-bottom: 104px;
            }

            >span{
                font-size: 1.75rem;
                color: #ffffff;
                margin-bottom: 24px;
            }
        }
    }
}

.theme--codeVibes{
    .game__gameoveroverlay{
        &--content{
            height: 380px;
            width: 970px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Red Rose', sans-serif;

            >h5{
                font-size: 10rem;
                color: #4DD5BC;
                margin-bottom: 104px;
                font-family: 'Red Rose', sans-serif;
                text-shadow: -1px -1px 3px white;
            }

            >span{
                font-size: 1.75rem;
                color: #ffffff;
                margin-bottom: 24px;
            }
        }
    }
}