.game__winner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #303131;
    &.active {
        display: flex;
    }

    &--homebtn {
        padding: 1rem 1.5rem;
        cursor: pointer;
        background-color: #415652;
        border: solid 1px #66CFBC;
    }
}

.theme--games{
    .game__winner{
        background-color: #284f60;
        &--content{
            height: 380px;
            width: 970px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Orbitron', sans-serif;

            >span{
                font-size: 1.75rem;
                color: #ffffff;
            }

            >#winner-name{
                font-size: 4rem;
                color: #ffffff;
                text-shadow: 1px 1px 6px black;

                &.winner--blue {
                    color: #2A9DF4;
                }
                &.winner--orange {
                    color: #F4A12A;
                }
                &.winner--draw {
                    color: #ED1B76;
                    font-size: 8rem;
                    font-weight: bold;
                }
            }

            >#winner-icon{
                width: 288px;
                height: 344px;
                margin-bottom: 24px;
            }
        }

        &--homebtn{
            background-color: #284f60;
            padding: 0.5rem 0.5rem;
            cursor: pointer;
            border-radius: 10px;
            border: solid 1px #E71C4F;
        }
    }
}

.theme--codeVibes{
    .game__winner{
        background-color: #303131;
        &--content{
            height: 380px;
            width: 970px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Red Rose', sans-serif;

            >span{
                font-size: 1.75rem;
                color: #ffffff;
            }

            >#winner-icon-container{
                top: 0;
                position: absolute;
                margin-bottom: 24px;
            }

            >#winner-name{
                font-size: 3.75rem;
                color: #ffffff;
                margin-bottom: 24px;

                &.winner--blue {
                    color: #2A9DF4;
                }
                &.winner--orange {
                    color: #F4A12A;
                }
                &.winner--draw {
                    font-size: 5rem;
                    color: #4DD5BC;
                    text-shadow: -1px -1px 3px white;
                }
            }

            >#winner-icon{
                width: 200px;
                height: 250px;
                margin-bottom: 64px;
            }
        }

        &--homebtn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 204px;
            height: 62px;
            border: solid 2px #66CFBC;
            cursor: pointer;
            font-family: 'Red Rose', sans-serif;
            font-size: 1.5rem;
        }
    }
}